.title {
	color: #f0701d;
}

.container {
	margin: auto;
	width: 90%;
	height: 100%;
	padding: 10px;
	border: 1px solid #2b8000;
	border-radius: 5px;
	margin-top: 10px;
	line-height: 1.5;
	overflow: hidden;
}

.container strong {
	font-weight: normal;
	color: #f0701d;
}

.container img {
	max-width: 30%;
}
